body {
font-family: 'Anaheim', sans-serif;
}

#buttons-row {
    padding: 10px;
}

#gifs-form {
    border: 5px solid black;
    padding: 5px;
    margin-right: 15px;
}

.navb {
    margin-bottom: 10px;
}

h1 {
    padding: 10px;
}